html{
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        display: grid;
        place-items: center;
        min-height: 100vh;
        width: auto;
        background: linear-gradient(#24497e,#14203c);
    }
    .time{
        align-items: center;
        justify-items: center;
        color: #ffffff;
    }
    .date{
        width: 125px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
    #year{
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        text-justify: auto;
        width: 250px;
    }
    #day, #month{
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        align-items: center;
        text-align: center;
        text-justify: auto;
    }

