html{
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        height: 100%;
        width: auto;
        display: grid; 
        grid-template-rows: repeat(1, auto); 
        background: linear-gradient(#24497e,#14203c);
    }
    .time{
        align-items: center;
        justify-items: center;
        color: #ffffff;
    }
    .sidebyside{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        margin-top: auto;
    }
    .result{
        height: fit-content;
        max-height: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        overflow-y: auto;
    }
    .row{
        margin-top: 5px;
        margin-bottom: 5px;
        height: fit-content;  
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
    }
    .col{
        font-size: 15px;
    }
    .parent {
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        margin-top: auto;
        margin-bottom: 20px;
        gap: 10px; 
    }
    .card{
        margin-top: 10px;
        border-radius: 10px;
        height: 250px;
        background-color: #2d3852;
    }
    .card:hover {
        background-color: #e0e0e0;
    }
    .date{
        width: 125px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #year{
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        text-justify: auto;
        width: 250px;
    }
    #day, #month{
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        align-items: center;
        text-align: center;
        text-justify: auto;
    }
    .add{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        border-radius: 22.5px;
        height: 45px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #Button{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        margin-top: 10px;
        border-radius: 5px;
        height: 45px;
        width: 150px;
    }   
    #addButton, #delButton, #updateButton,#serButton,#delAllButton, #goToButton, #clearButton{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        border-radius: 5px;
        height: 45px;
        width: 110px;
        margin-top: 10px;
    }