    html{
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        height: 95vh;
        width: auto;
        display: grid; 
        grid-template-rows: repeat(1, auto); 
    }
    .time{
        align-items: center;
        justify-items: center;
    }
    .serform{
        display: grid; 
        grid-template-columns: repeat(4, auto); 
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .result{
        height: fit-content;
        max-height: 275px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: #000000;
        background-color: lightgray;
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        overflow-y: auto;
    }
    .img_result{
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: #000000;
        background-color: lightgray;
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        justify-items: center;
    }
    img{
        margin: auto;
        height: 20vw;
        width: 50vw;
    }
    .row{
        display: grid;
        grid-template-columns: 10% 10% 25% 10% 30%;
        font-size: 12px;
        height: fit-content;
        margin-bottom: 5px;
    }
    .cash{
        display: grid;
        grid-template-columns: 25% 35%;
        text-align: right;
    }
    .month{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        text-align: right;
    }
    .card{
        border-radius: 10px;
        height: 250px;
        background-color: gray;
    }
    .date{
        width: 125px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #year{
        font-size: 50px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        width: 250px;
    }
    #day, #month{
        font-size: 35px;
        font-weight: bold;
        color: #000000;
        align-items: center;
        text-align: center;
        text-justify: auto;
    }
    .add{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        border-radius: 5px;
        height: 25px;
    }
    #addButton, #delButton, #updateButton,#serButton{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        text-justify: auto;
        border-radius: 5px;
        height: 30px;
        width: 100px;
        margin-top: 5px;
        margin-bottom: 10px;
    }