<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <body>
        <div class="buttonList">
            <form method="POST">
                <input type="Submit" class="Button" value="Go To Upload" name="goToUpload" >
            </form>
            <form method="POST">
                <input type="Submit" class="Button" value="Go To Index" name="goToIndex" >
            </form>
            <form method="POST">
                <input type="Submit" class="Button" value="Go To Entries" name="goToEntries" >
            </form>
            <form method="POST">
                <input type="Submit" class="Button" value="Go To View" name="goToButton" >
            </form>
        </div>
    </body>
</html>