<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <body>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To Upload" name="goToUpload" id="delButton">
        </form>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To View" name="goToButton" id="Button">
        </form>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To View" name="goToButton" id="Button">
        </form>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To View" name="goToButton" id="Button">
        </form>
        <div class="parent">
            <div class="card">

            </div>
            <div class="card">
                
            </div>
            <div class="card">
                
            </div>
            <div class="card">
                
            </div>
        </div>      
    </body>
</html>