<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <body>
        <div class="time">
            <div id="year">{{year}}</div>
            <div class="date">
                <div id="day">{{day}}</div>
                <div id="month">{{month}}</div>
            </div>
        </div>
        <div>
            <form class="addForm" method="POST">
                <input type="text" class="add" name="addCode">
                <input type="text" class="add" name="addModel">
                <input type="text" class="add" name="addPrice">
                <input type="submit" value="Add" name = addButton id="addButton">
            </form>
            <div class="sidebyside">
                <form class="delForm" method="POST">
                    <input type="text" class="add" name="delCode">
                    <input type="submit" value="Delete" name="delButton" id="delButton">
                </form>
                <form class="delForm" method="POST">
                    <input type="Submit" value="Delete All" name="delAllButton" id="delButton">
                </form>
            </div>
            <form class="upDateForm" method="POST">
                <input type="text" class="add" name="upCode">
                <input type="text" class="add" name="upModel">
                <input type="text" class="add" name="upPrice">
                <input type="submit" value="Update" name = updateButton id="updateButton">
            </form>
        </div>
        <div class="result"> 
            {% for row in rows %}
                <div class="row">
                    <div class="col">{{row.code}}</div>
                    <div class="col">{{row.model}}</div>
                    <div class="col">$ {{row.price}}</div>
                </div>
            {% endfor %} 
        </div>
        <div class="sidebyside">
            <form class="serForm" method="POST">
                <input type="text" class="add" name="serCode">
                <input type="submit" value="Search" name="serButton" id="serButton">
            </form>
            <form>
                <form class="Button" method="POST">
                <input type="Submit" value="Clear All" name="clearButton" id="clearButton">
                </form>
            </form>
        </div>
        <div class="result">
            {% for search in searchs %}
                <div class="row">{{search.code}} {{search.model}} {{search.price}}</div>
            {% endfor %} 
        </div>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To" name="goToButton" id="delButton">
        </form>
        <form class="Button" method="POST">
            <input type="Submit" value="Go To View" name="goToButton" id="Button">
        </form>
        <div class="parent">
            <div class="card">

            </div>
            <div class="card">
                
            </div>
            <div class="card">
                
            </div>
            <div class="card">
                
            </div>
        </div>      
    </body>
</html>