<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <body>
        <div class="time">
            <div id="year">{{year}}</div>
            <div class="date">
                <div id="day">{{day}}</div>
                <div id="month">{{month}}</div>
            </div>
        </div>
        <form action="/uploadFile" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id ="Input" class="hidden-input">
            <label for = "Input" id="Input">Choose a file to upload</label>
            <button type="submit" value="Upload" id="Button">Upload File</button>
        </form>
        <div class="result"> 
            {% for file in fileList %}
                <div class="row">
                    <div class="col">{{file}}</div>
                </div>
            {% endfor %} 
        </div>

        <div class="parent">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>      
    </body>
</html>
