<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewEntries.css') }}">
    <body>
        <div class="result"> 
            {% for row in rows %}
                <div class="row">
                    <div>{{row.code}}</div>
                    <div> {{row.model}}</div>
                    <div class="cash">
                        <div>$</div>
                        <div>{{row.price}}</div>
                    </div>
                </div>
            {% endfor %} 
        </div>
        <form class="serForm" method="POST">
            <input type="text" class="add" name="serCode">
            <input type="submit" value="Search" name="serButton" id="serButton">
        </form>
        <div class="result">
            {% for search in searchs %}
                <div class="row">
                    <div>{{search.code}}</div> 
                    <div>{{search.model}}</div> 
                    <div class="cash">
                        <div>$</div>
                        <div>{{search.price}}</div>
                    </div>
                </div>
            {% endfor %} 
        </div>
        <div class="result">
            {% for output in outputs %}
                <div class="row">
                    <div>{{output.Sku}}</div>
                    <div>{{output.Brand}}</div>
                    <div>{{output.Description}}</div>
                    <div class="cash">
                        <div>$</div> 
                        <div>{{output.Cash_Price}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form class="delForm" method="POST">
            <input type="Submit" value="Go To" name="goToButton" id="delButton">
        </form>
</html>