<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewLayout.css') }}">
        <div class="tab-container">
        <div class="tab-panel">Tab 1</div>
        <div class="tab-panel">Tab 2</div>
    </div>
    <div class="tab-container">
        <div class="tab-panel">Tab 1</div>
        <div class="tab-panel">Tab 2</div>
        <div class="tab-panel">Tab 3</div>
        <div class="tab-panel">Tab 4</div>
        <div class="tab-panel">Tab 5</div>
        <div class="tab-panel">Tab 6</div>
    </div>
    <div class="main-body">
        <div class="tab-panel">Tab 1</div>
    </div>

    <form class="Button" method="POST">
        <input type="Submit" value="Go To View" name="goToButton" id="Button">
    </form>
    
</html>